* Basic Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 1300px;
    padding: 20px 80px;
    background: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  .nav-links a {
    text-decoration: none;
    color: #444;
    font-size: 0.9rem;
  }
